body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  
    
}
.blinking {
    animation: none; /* Remove animation */
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #3474c8;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
}

.home-button {
    text-decoration: none;
    color: #ffffff;
    background-color:#4CAF50;
    border: 1px solid green;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.home-button:hover {
    background-color:#45a049;
    color: #ffffff;
}
.main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#board {
    width: 400px;
    height: 400px;
    background-color: lightgray;
    margin-top: 20px;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
}

#board div {
    width: 48px;
    height: 48px;
    border: 1px solid whitesmoke;

    /* text */
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
}

.tile-clicked {
    background-color: darkgrey;
}

.x1 {
    color: blue;
}

.x2 {
    color: green;
}

.x3 {
    color: red;
}

.x4 {
    color: navy;
}

.x5 {
    color: brown;
}

.x6 {
    color: teal;
}

.x7 {
    color: black;
}

.x8 {
    color: gray;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

/* Modal content */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px; 
    height: 300px;
    transform: translate(-50%, -50%);
    /* background-color: white; */
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#restartButton {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hide the button */
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
#restartButton:hover {
    background-color: #45a049;
}
#win {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hide the button */
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
#lose {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hide the button */
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
#menuButton {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hide the button */
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#restartButton:hover {
    background-color: #45a049;
}

#difficultyButton {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#timer {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin: 10px;
}
#difficultyButton:hover {
    background-color: #45a049;
}

.difficulty-option {
    padding: 10px;
    cursor: pointer;
}

.difficulty-option.selected {
    background-color: #d3d3d3; /* Highlight color */
}

#difficultyOptions {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px 2px;
    display: inline-block;
    transition: border-color 0.3s;
}

#flag-button {
    width: 100px;
    height: 50px;
    font-size: 30px;
    background-color: lightgray;
    border: none;
}
